//run sass --watch scss:public/stylesheets/ in Project
body {
    font-size: 16px;
    font-family: 'Heiti TC', HeitiTC-Light, LiHei, 微軟正黑體, Lato, Verdana, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #7d0000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f29b76;
    margin: 0;
    width: 100%;
}
.container {
    display: block;
    min-height: 550px;
    width: 100%;
    padding: 0 0px;
    margin-top: 100px;
    @media screen and (max-width: 767px) {
        margin-top: 90px;
        min-height: 450px;
    }
}
.footer {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 15px 100px;
    .footer-container {
        text-align: center;
        height: 55px;
        line-height: 55px;
    }
    @media screen and (max-width: 767px) {
        bottom: -100px;
        font-size: 12px;
        padding: 10px 20px;
    }
}
