//run sass --watch scss:public/stylesheets/ in four
body {
    font-size: 16px;
    font-family: 'Heiti TC', HeitiTC-Light, LiHei, 微軟正黑體, Lato, Verdana, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fffbb1;
    -webkit-font-smoothing: antialiased;
    background-color: #f2aeb9;
    margin: 0;
    width: 100%;
}
.container {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 0px;
    margin-top: 100px;
    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 100px;
    .footer-container {
        text-align: center;
        height: 55px;
        line-height: 55px;
    }
    @media screen and (max-width: 767px) {
        font-size: 12px;
        padding: 10px 20px;
    }
}
