.input-container {
    display: none;
    min-height: 500px;
    background-color: #fffbb1;
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px 0;
    overflow: hidden;
    text-align: center;
    .input-header {
        height: 40px;
        background-color: #fffbb1;
    }
    .input-header-title {
        font-size: 25px;
        line-height: 40px;
        color: #a37bad;
    }
    .input-detail {
        text-align: left;
        font-size: 20px;
        padding: 20px 40px;
    }
    label {
        color: #a37bad;
        margin-bottom: 20px;
    }
    .form-control {
        font-size: 20px;
    }
    .btn-submit {
        padding: 10px 20px;
        margin-top: 30px;
        color: white;
        background-color: #a37bad;
        font-size: 20px;
        position: relative;
        bottom: 0;
        -webkit-transition: bottom .3s ease-out;
        transition: bottom .15s ease-out;
        &:hover {
            bottom: 5px;
        }
        &:focus {
            outline: 0;
        }
        @media screen and (max-width: 370px) {
            margin-top: 10px;
        }
    }
    @media only screen and (max-width: 767px) {
        min-height: 400px;
        margin-top: 10px;
        padding: 20px 0;
    }
    @media only screen and (max-width: 370px) {
        min-height: 380px;
        margin-top: 0px;
    }
}
