.output-container {
    display: none;
    min-height: 500px;
    background-color: #fffbb1;
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px 50px;
    overflow: hidden;
    text-align: center;
    .output-header {
        height: 40px;
        background-color: #fffbb1;
    }
    .output-header-title {
        font-size: 25px;
        line-height: 40px;
        color: #a37bad;
    }
    .output-outcome {
        height: 300px;
        text-align: left;
        overflow: scroll;
        a {
            line-height: 50px;
            font-size: 18px;
            color: #a37bad;
        }
        @media screen and (max-width: 767px) {
            padding: 0px 20px;
        }
    }
    .page-container {
        text-align: center;
        color: #a37bad;
        font-size: 20px;
        button {
            border: none;
            border-radius: 20px;
            background-color: transparent;
            margin: 0 50px;
            position: relative;
            bottom: 0;
            -webkit-transition: bottom .3s ease-out;
            transition: bottom .15s ease-out;
            &:hover {
                bottom: 2px;
            }
            &:focus {
                outline: 0;
            }
            @media screen and (max-width: 370px) {
                margin: 0 20px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        min-height: 400px;
        margin-top: 10px;
        padding: 20px 0;
    }
    @media screen and (max-width: 370px) {
        min-height: 380px;
        margin-top: 0px;
    }
}
.loader-box {
    position: relative;
    display: none;
    min-height: 500px;
    margin-top: 50px;
    padding: 30px 50px;
    text-align: center;
    .loading {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
        margin: auto;
        width: 80px;
        height: 30px;
        line-height: 30px;
    }
    .loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
        margin: auto;
        border: 8px solid #f3f3f3;
        border-top: 8px solid #a37bad;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 1.5s linear infinite;
    }
    @media screen and (max-width: 767px) {
        min-height: 400px;
        margin-top: 10px;
        padding: 20px 0;
    }
    @media screen and (max-width: 370px) {
        min-height: 380px;
        margin-top: 0px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
