// colors

$color-1: #0b3e65; // Mine Shaft
$color-2: #7d0000;; // Highland
$color-3: #ffffff; // White
$color-4: #f8b396; // Alabaster

// fonts

$primary-font: 'Fira Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;
