<div class="footer">
    <div class="footer-container col-lg-12">
        © 2016 Dr.why, INC. ALL RIGHTS RESERVED.<br>此網站搜尋資料庫來源為<a href="http://sp1.hso.mohw.gov.tw/doctor/Index1.php">台灣e院</a>。
    </div>
</div>
