<div class="header">
    <div class="header-logo">
        <a href="/">
            <img src="images/logo.png"></img>
        </a>
    </div>
    <nav class="header-info">
        <a href="#" id="menu-icon" class="glyphicon glyphicon-menu-hamburger"></a>
        <ul>
            <li><a class="header-history" href="/history">History</a></li>
            <li><a class="header-map" href="/map">Map</a></li>
            <li><a class="header-about" href="/about">About</a></li>
        </ul>
    </nav>
</div>
