<div class="header">
    <div class="header-logo">
        <span style="color:#e65f95;">Explore</span><span>Symptom</span>
    </div>
    <div class="header-info">
        <a href="#">Help</a>
        <a href="#">About Us</a>
    </div>
</div>
