<div class="header">
    <div class="header-logo">
        <a href="/">
            <span style="color:#0b3e65;">Explore</span><span style="color:#7d0000;">Symptom</span>
        </a>
    </div>
    <nav class="header-info">
        <a href="#" id="menu-icon" class="glyphicon glyphicon-menu-hamburger"></a>
        <ul>

            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</div>
