<div class="wow fadeInUp col-md-4 col-md-offset-4 init-container">
    <div class="init-imgbox col-xs-6 col-xs-offset-3">
        <img src="images/doctor.png"></img>
    </div>
    <div class="col-xs-12 init-detail">
        <span>您好，我是您的諮詢師</br>請問您哪邊感到不適呢？</br>請詳細敘述您的<span style="color:#0b3e65;">症狀</span></br>我們會幫助您找到病症！</span>
    </div>
    <button class="btn btn-start">開始諮詢</button>
</div>
