<div class="col-md-10 col-md-offset-1 init-container">
    <div class="col-xs-4 init-box-1">
        <div class="init-imgbox">
            <img src="images/init-1.png"></img>
        </div>
        <div class="init-detail">
            完整描述您的病徵，我們會幫您標示出症狀及部位
        </div>
    </div>
    <div class="col-xs-4 init-box-2">
        <div class="init-imgbox">
            <img src="images/init-3.png"></img>
        </div>
        <div class="init-detail">
            您可以查看與您症狀類似的病人問題與醫生的回覆
        </div>
    </div>
    <div class="col-xs-4 init-box-3">
        <div class="init-imgbox">
            <img src="images/init-2.png"></img>
        </div>
        <div class="init-detail">
            此外您還可以透過我們的篩選器，來更精確地描述您的症狀與部位
        </div>
    </div>
    <div class="col-xs-12" style="text-align:center;">
        <button class="btn btn-start">開始諮詢</button>
    </div>
</div>


<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="init-imgbox">
                <img src="images/init-1.png"></img>
            </div>
            <div class="init-detail">
                完整描述您的不舒服，我們會幫您標示出症狀及部位
            </div>
        </div>
        <div class="swiper-slide">
            <div class="init-imgbox">
                <img src="images/init-3.png"></img>
            </div>
            <div class="init-detail">
                您可以查看與您症狀類似的病人問題與醫生的回覆
            </div>
        </div>
        <div class="swiper-slide">
            <div class="init-imgbox">
                <img src="images/init-2.png"></img>
            </div>
            <div class="init-detail">
                此外您還可以透過我們的篩選器，來更精確地描述您的症狀與部位
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <button class="btn btn-start">開始諮詢</button>
</div>
