<div class="wow fadeInLeft col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1 input-container">
    <div class="input-header">
        <div class="input-header-title">
            症狀描述
        </div>
    </div>
    <form>
        <div class="input-detail">
            <textarea placeholder="請輸入您的症狀" name="input" class="form-control" ng-model="detail" rows="6"></textarea>
        </div>
        <button type="button" class="btn btn-submit" ng-click=" Clear(); SendData()">送出</button>
    </form>
</div>
