<div class="col-lg-3 col-lg-offset-1 input-container">
    <div class="input-header">
        <div class="input-header-title">
            症狀描述
        </div>
    </div>
    <form>
        <div class="input-detail">
            <label>請輸入您的症狀</label>
            <textarea class="form-control" rows="6"></textarea>
        </div>
        <button type="submit" class="btn btn-green">開始查詢</button>
    </form>
</div>
