<div class="wow fadeInLeft col-lg-3 col-lg-offset-1 input-container">
    <div class="input-header">
        <div class="input-header-title">
            症狀描述
        </div>
    </div>
    <form>
        <div class="input-detail">
            <label>請輸入您的症狀</label>
            <textarea name="input" class="form-control" rows="6"></textarea>
        </div>
        <button type="button" class="btn btn-submit">送出</button>
    </form>
    <script>
        $(document).ready(function(){
            $(".btn-submit").click(function(){
                $.ajax({
                    type: 'POST',
                    dataType: 'text',
                    url: 'http://52.41.60.7:3000',
                    data: 'data',
                    success: function(data) {
                        alert();
                    }
                });
            });
        });
    </script>
</div>
