<div class="wow fadeInUp col-lg-4 col-lg-offset-4 init-container">
    <div class="init-imgbox">
        <img src="images/doctor.png"></img>
    </div>
    <div class="init-detail">
        <span>您好，我是您的諮詢師</br>請問您哪邊感到不適呢？</br>請詳細敘述您的<span style="color:#a37bad;">症狀</span></br>我們會幫助您找到病症！</span>
    </div>
    <button class="btn btn-start">開始諮詢</button>
</div>
<div class="wow fadeInLeft col-lg-3 col-lg-offset-1 input-container">
    <div class="input-header">
        <div class="input-header-title">
            症狀描述
        </div>
    </div>
    <form>
        <div class="input-detail">
            <label>請輸入您的症狀</label>
            <textarea class="form-control" rows="6"></textarea>
        </div>
        <button type="button" class="btn btn-submit">送出</button>
    </form>
</div>
