<div class="col-md-8 col-md-offset-2  col-xs-10 col-xs-offset-1 map-container">
    <div class="wrapper">
        <div id="modal-wrap" class="hidden">
            <div class="modal-app-msg">
                <div class="modal-dialog app-msg ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="modal-btn-close" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h4 class="modal-title">{0}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="exdetail">
                                <p>地址：<span>台北市民生東路四段122號</span></p>
                                <p>營業時間：<span>7:00～24:00</span></p>
                            </div>
                        </div>
                        <!--  modal body end -->
                        <!-- 按鈕 -->
                        <div class="modal-footer">
                            <a id="modal-dismiss" href="javascript:void(0)" class="btn lightblue" data-dismiss="modal">知道了</a>
                            <a id="modal-goto" href="#" class="btn lightblue">前往此處</a>
                        </div>
                        <div id="modal-pointer" class="">
                            <div class="pointer-left-outer">
                                <div class="pointer-left-inner"></div>
                            </div>
                            <div class="pointer-right-outer">
                                <div class="pointer-right-inner"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    </div>
    <div id="map_canvas" class="map"></div>
</div>
