<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1 output-container" ng-controller="outcomeFormController">
    <div class="output-header">
        <div class="output-header-title">
            搜尋結果
        </div>
    </div>
    <div class="input-group"> 
        <input type="text" class="form-control"  placeholder="Search">
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                    <button type="button" class="btn btn-default dropdown-toggle" id="menu-drop" data-toggle="dropdown" aria-expanded="true">
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="body">部位</label>
                                    <select id="body-select" class="form-control" title="請選擇部位..." multiple>
                                        <option>他長得好奇怪</option>
                                        <option>他長得真的好奇怪</option>
                                        <option>寫網頁好難QQ</option>
                                    </select>
                                </div>
                            </form>
                    </div>
                </div>
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="output-outcome">
        <div class="output-detail" ng-repeat="answer in answers| startFrom:currentPage*pageSize | limitTo:pageSize">
            <div class="output-detail-title">
                <a ng-href="{{answer.link}}">{{answer.title}}</a>
            </div>
        </div>
    </div>
    <div class="page-container">
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            <
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= answers.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            >
        </button>
    </div>
</div>
<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1 loader-box">
    <div class="loading">Loading</div>
    <div class="loader"></div>
</div>
