<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1 output-container">
    <div class="output-header">
        <div class="output-header-title">
            搜尋結果
        </div>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" id="filter-search-box" placeholder="請輸入關鍵字或從選單選擇..." />
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                    <button type="button" class="btn btn-default dropdown-toggle" id="filter-dropdown" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">

                        <button type="button" class="btn" id="body-button"><i class="fa fa-heartbeat fa-lg" aria-hidden="true"></i>&nbsp;部位</button>
                        <div     
                            isteven-multi-select
                            input-model="bodyparts"
                            output-model="bodyOutput"
                            button-label="bodypartName"
                            item-label="bodypartName"
                            tick-property="ticked"
                            helper-elements="all none"
                            translation="bodySelectSetting"
                            output-properties="bodypartName"
                            >
                        </div>
                        <button type="button" class="btn" id="symptom-button"><i class="fa fa-stethoscope fa-lg" aria-hidden="true"></i>&nbsp;症狀</button>
                        <div     
                            isteven-multi-select
                            input-model="symptoms"
                            output-model="symptomOutput"
                            button-label="symptomName"
                            item-label="symptomName"
                            tick-property="ticked"
                            helper-elements="all none"  
                            translation="symptomSelectSetting"
                            output-properties="symptomName"
                            >
                        </div>
                        <button type="submit" class="btn btn-primary " id="bottom-search-button" ng-click="Clear(); ResetDetail(); SendData();"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="filter-search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
    <div class="output-outcome">
        <div class="output-detail" ng-repeat="answer in answers| startFrom:currentPage*pageSize | limitTo:pageSize">
            <div class="output-detail-title">
                <button ng-click="getResult(answer._id)">{{answer.title}}</button>
            </div>
            <div class="output-detail-receive {{answer._id}}">
                <div class="output-detail-question">
                    <span style="background-color: #0e324e; color: white; font-size: 20px;">問題</span><br>
                    {{result.question}}
                </div>
                <div class="output-detail-answer">
                    <span style="background-color: #7d0000; color: white; font-size: 20px;">回答</span><br>
                    {{result.answer}}
                </div>
            </div>
        </div>
    </div>
    <div class="page-container">
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            <
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= answers.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            >
        </button>
    </div>
</div>
<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1 loader-box">
    <div class="loading">Loading</div>
    <div class="loader"></div>
</div>
