<div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1 result-container">
    <div class="result-header">
        <div class="result-header-title">
            {{result.title}}
        </div>
    </div>
    <div class="result-question">
        {{result.question}}
    </div>
    <div class="result-answer">
        {{result.answer}}
    </div>
    <div class="result-back">
        <button ng-click="goBack()"></button>
    </div>
</div>
