.init-container {
  min-height: 500px;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
  text-align: center; }
  .init-container .init-imgbox img {
    width: 180px;
    display: inline-block; }
  .init-container .init-box-1 {
    display: none; }
  .init-container .init-box-2 {
    display: none; }
  .init-container .init-box-3 {
    display: none; }
  .init-container .init-detail {
    margin: 20px 30px;
    font-weight: bold;
    font-size: 24px; }
  .init-container .btn-start {
    display: none;
    margin-top: 75px;
    padding: 10px 20px;
    color: white;
    background-color: #0e324e;
    font-size: 20px;
    position: relative;
    bottom: 0;
    -webkit-transition: bottom .3s ease-out;
    transition: bottom .15s ease-out; }
    .init-container .btn-start:hover {
      bottom: 5px; }
    .init-container .btn-start:focus {
      outline: 0; }
  @media screen and (max-width: 767px) {
    .init-container {
      min-height: 400px;
      display: none; } }

.swiper-container {
  min-height: 450px;
  display: none;
  margin: 0 40px;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  text-align: center; }
  .swiper-container .init-imgbox img {
    width: 150px;
    display: inline-block; }
  .swiper-container .init-detail {
    margin: 20px 30px;
    font-weight: bold;
    font-size: 24px; }
    @media screen and (max-width: 330px) {
      .swiper-container .init-detail {
        font-size: 20px; } }
  .swiper-container .btn-start {
    margin-top: 40px;
    padding: 10px 20px;
    color: white;
    background-color: #0e324e;
    font-size: 20px;
    position: relative;
    bottom: 0; }
    .swiper-container .btn-start:focus {
      outline: 0; }
  .swiper-container .swiper-pagination {
    bottom: 120px; }
    .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
      opacity: 1;
      background: #0e324e; }
  @media screen and (max-width: 767px) {
    .swiper-container {
      display: block; } }
